@media (max-width: 767px) {
  .heroSection {
    padding-top: 60%;
  }
  #section03 {
    padding-top: 400px;
  }
  #bestKit {
    padding-top: 540px;
  }
  .heroImage {
    width: 60%;
    object-position: top center;
  }
}

@media (max-width: 560px) {
  .heroSection {
    padding-top: 60%;
  }
}
@media (max-width: 480px) {
  .heroSection {
    padding-top: 80%;
  }
  #section03 {
    padding-top: 320px;
  }
  #bestKit {
    padding-top: 320px;
  }
  .heroImage {
    width: 80%;
    object-position: top center;
  }
}
@media (max-width: 375px) {
  .heroSection {
    padding-top: 90%;
  }
  #section03 {
    padding-top: 360px;
  }
  #bestKit {
    padding-top: 320px;
  }
  .heroImage {
    width: 100%;
    object-position: top center;
  }
}
@media (max-width: 320px) {
  .heroSection {
    padding-top: 80%;
  }
  #section03 {
    padding-top: 396px;
  }

  #bestKit {
    padding-top: 240px;
  }

  .heroImage {
    width: 100%;
    object-position: top center;
  }
}

.blurred-img {
  filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred-img img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blurred-img.loaded img {
  opacity: 1;
}

.blurred-img.loaded {
  filter: blur(0px);
}

.blurred-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: white;
}

.blurred-img.loaded::before {
  animation: none;
  content: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
