.swiper {
  width: 100%;
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background-image: url("../svg/icon-arrow-left.svg") !important;

  &::after {
    content: "" !important;
  }
}
.swiper-button-next {
  background-image: url("../svg/icon-arrow-right.svg") !important;
  &::after {
    content: "" !important;
  }
}
