@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff") format("woff"), url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Semibold.woff") format("woff"), url("../fonts/Barlow-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@media (max-width: 767px) {
  .heroSection {
    padding-top: 440px;
  }
  #section03 {
    padding-top: 400px;
  }
  #bestKit {
    padding-top: 540px;
  }
  .heroImage {
    width: 60%;
    -o-object-position: top center;
       object-position: top center;
  }
}
@media (max-width: 560px) {
  .heroSection {
    padding-top: 360px;
  }
}
@media (max-width: 480px) {
  .heroSection {
    padding-top: 320px;
  }
  #section03 {
    padding-top: 320px;
  }
  #bestKit {
    padding-top: 320px;
  }
  .heroImage {
    width: 80%;
    -o-object-position: top center;
       object-position: top center;
  }
}
@media (max-width: 375px) {
  .heroSection {
    padding-top: 380px;
  }
  #section03 {
    padding-top: 360px;
  }
  #bestKit {
    padding-top: 320px;
  }
  .heroImage {
    width: 100%;
    -o-object-position: top center;
       object-position: top center;
  }
}
@media (max-width: 320px) {
  .heroSection {
    padding-top: 320px;
  }
  #section03 {
    padding-top: 396px;
  }
  #bestKit {
    padding-top: 240px;
  }
  .heroImage {
    width: 100%;
    -o-object-position: top center;
       object-position: top center;
  }
}
.blurred-img {
  filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred-img img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blurred-img.loaded img {
  opacity: 1;
}

.blurred-img.loaded {
  filter: blur(0px);
}

.blurred-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: white;
}

.blurred-img.loaded::before {
  animation: none;
  content: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.swiper {
  width: 100%;
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background-image: url("../svg/icon-arrow-left.svg") !important;
}
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-next {
  background-image: url("../svg/icon-arrow-right.svg") !important;
}
.swiper-button-next::after {
  content: "" !important;
}

.accordion-content {
  overflow: hidden;
  transition: 0.5s all ease;
}

.accordion-button {
  transition: 0.5s all ease;
}
.accordion-button span {
  transition: 0.5s all ease;
}

.accordion-button.active span {
  transform: rotate(45deg);
}

body {
  background-color: #ffe7f8;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */